<div class="cover"><img src="assets/image/watercover.jpg">
  <div class="cover-text">First Class Active Carbon Reactivation</div>
</div>
<div class="content">
  <p>
  <strong>Reactive Ltd</strong> is a plant for reactivation of active carbon, located in the north of Israel. It has been established considering plants needs to protect environmental quality, while maintaining their efficiency and profitability. <strong>Reactive</strong> establishment was encouraged by the Israel Ministry of Environmental Protection, aiming to reduce the waste quantities produced by manufacturing processes, while reducing manufacturing costs. In this respect, <strong>Reactive</strong> provides an alternative solution, qualitative and efficient.</p>
  <p>The recycling process takes a few days, after which the carbon is restored to its proper functioning condition, and is ready to use. <strong>Reactive</strong> offers its customers comprehensive service package in the field of active carbon. We provide each customer with professional care, customized to their needs.</p>
  <p><strong>Reactive</strong> cooperates with <strong>Benchmark Technologies</strong> which is the Israeli representative of <strong>Donau Carbon</strong>. Benchmark Technologies imports and supplies new active carbon and provides services of designing and building filtration systems which use active carbon.</p>
</div>