<nav>
  <div class="logoimg"><a><img src="assets/image/reactiveLogo.jpeg"></a></div>
  <ul class="main-nav">
    <li><a routerLink='/company'>Company</a></li>
    <li class="dropdown"><a>Service & Product</a>
      <ul class="dropdown-content">
        <li><a routerLink='/reactivation'>Reactivation</a></li>
        <li><a routerLink=''>Related services</a></li>
        <li><a routerLink='/new-carbon'>New Carbon</a></li>
      </ul>
    </li>
    <li><a routerLink='/standards'>Standards</a></li>
    <li><a routerLink='/contact'>Contact</a></li>
    <li class="right"><a href="#">עברית</a></li>
  </ul>
</nav>